/Binaries
/DerivedDataCache
/Intermediate
/Saved
*.suo

*.sdf

*.opensdf
Content/Sounds/GDP 8 Sons Grand mère/AMB_EXT+VOITURE.wav.orig
Content/Sounds/GDP 8 Sons Grand mère/AMB_EXT.wav.orig
Content/Sounds/GDP 8 Sons Grand mère/AMB_EXT_2.wav.orig
